.entry-content > * {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 14px;
  padding-right: 14px;
}

.post .entry-content > * {
  max-width: 800px;
}

.entry-content > .alignwide {
  max-width: 1280px;
}

.entry-content > .alignfull {
  max-width: 100%;
}

.entry-content ul,
.entry-content ol {
  margin: 1.5em auto;
  max-width: 1280px;
  list-style-position: outside;
}

/*.wp-block-video video {
  max-width: 1280px;
}*/

.wp-block-image figcaption {
  font-size: inherit;
}

.wp-block-image img {
  display: block;
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
  width: 100%
}

.wp-block-image.alignfull img {
  width: 100vw;
}

.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto;
}

.wp-block-cover {
  padding: 20px 30px;
}


.wp-block-cover-text p {
  padding: 1.5em 14px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 14px;
}

.wp-block-table {
  display: block;
  overflow-x: auto;
}

.wp-block-table table {
  border-collapse: collapse;
  width: 100%
}

.wp-block-table td, .wp-block-table th {
  padding: .5em;
}

.entry-content li {
  margin-left: 2.5em;
  margin-bottom: 6px;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin: 0 auto;
}

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li {
  margin-left: 0;
}


.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wp-block-quote.is-large {
  margin: 0 auto 16px;
}

.wp-block-pullquote>p:first-child {
  margin-top: 0;
}

.wp-block-separator {
  margin: 3em auto;
  padding: 0;
}

.wp-block-button {
  margin: 10px 20px 10px 0;
}

.wp-block-button.aligncenter,
.wp-block-buttons.aligncenter {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }

  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px;
  }

}

/*--------------------------------------------------------------
# Resets
--------------------------------------------------------------*/

.wp-block-awkng-blocks-section .wp-block-awkng-blocks-column,
.wp-block-cover .wp-block-cover__inner-container, .wp-block-group .wp-block-group__inner-container {
  max-width: 1280px;
  width: 100%;
}

.wp-block-group {
  display: flex;
  justify-content: center;
}

.wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.wp-block-button__link {
  border-radius: 2.4em;
  padding: .7em 1em;
}

.menu-button.menu-button a,
.menu-button.menu-button a:visited,
.menu-button.menu-button a:hover,
.menu-button.menu-button a:focus,
.menu-button.menu-button a:active {
  border-radius: 2.4em;
  padding: .7em 1em;
  background-color: #fff;
  color: #000;
}

.menu-button-red.menu-button-red a,
.menu-button-red.menu-button-red a:visited,
.menu-button-red.menu-button-red a:hover,
.menu-button-red.menu-button-red a:focus,
.menu-button-red.menu-button-red a:active {
  border-radius: 2.4em;
  padding: .7em 1em;
  background-color: #ee2c3c;
  color: #fff;
}

.wp-block-image figcaption {
  color: inherit;
}

.wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer {
  color: inherit;
}

.wp-block-columns {
  margin: 0;
}

/*@media screen and (max-width: 768px) {
  .wp-block-column ~ .wp-block-column{
    margin-top: .75em;
    padding-top: 1em;
  }
}*/

.wp-block-column {
  /*margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 32px;
  padding-right: 32px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wp-block-columns.awkng-has-2-column-mobile .wp-block-column {
  flex-basis: 50% !important;
  flex-grow: 0;
  margin-top: 1em;
  padding-top: 0;
}

.wp-block-media-text .wp-block-media-text__media {
  padding: 8%;
}

.wp-block-media-text .wp-block-media-text__content {
  padding: 0;
}

ol {
  -webkit-padding-start: 0;
}

.wp-block-image {
  margin-bottom: .5em;
}

.wp-block-column,
.wp-block-media-text .wp-block-media-text__content {
  overflow-wrap: normal;
  word-break: normal;
}

@media screen and (max-width: 768px) {
  .wp-block-column {
    padding-left: 10px;
    padding-right: 10px;
  }

  :where(.wp-block-columns.is-layout-flex) {
    gap: 0;
  }
}

/*--------------------------------------------------------------
# Block Color Palette Colors
--------------------------------------------------------------*/

.has-awkng-light-color {
  color: #ffffff;
}

.has-awkng-light-background-color,
.awkng-background-skew.awkng-background-skew.has-awkng-light-background-color::before,
.awkng-background-skew.awkng-background-skew.has-awkng-light-background-color::after {
  background-color: #ffffff;
}

.has-awkng-primary-color {
  color: #ee2c3c;
}

.has-awkng-primary-background-color,
.awkng-background-skew.awkng-background-skew.has-awkng-primary-background-color::before,
.awkng-background-skew.awkng-background-skew.has-awkng-primary-background-color::after {
  background-color: #ee2c3c;
}

.has-awkng-accent-color {
  color: #d1b681;
}

.has-awkng-accent-background-color,
.awkng-background-skew.awkng-background-skew.has-awkng-accent-background-color::before,
.awkng-background-skew.awkng-background-skew.has-awkng-accent-background-color::after {
  background-color: #d1b681;
}

.has-awkng-dark-color {
  color: #231f20;
}

.has-awkng-dark-background-color,
.awkng-background-skew.awkng-background-skew.has-awkng-dark-background-color::before,
.awkng-background-skew.awkng-background-skew.has-awkng-dark-background-color::after {
  background-color: #231f20;
}

.has-awkng-background-light-color {
  color: #ffffff;
}

.has-awkng-background-light-background-color,
.awkng-background-skew.awkng-background-skew.has-awkng-background-light-background-color::before,
.awkng-background-skew.awkng-background-skew.has-awkng-background-light-background-color::after {
  background-color: #ffffff;
}
.has-awkng-background-dark-color {
  color: #ebebeb;
}

.has-awkng-background-dark-background-color,
.awkng-background-skew.awkng-background-skew.has-awkng-background-dark-background-color::before,
.awkng-background-skew.awkng-background-skew.has-awkng-background-dark-background-color::after {
  background-color: #ebebeb;
}

.wp-block-button__link:active.has-awkng-dark-color,
.wp-block-button__link:focus.has-awkng-dark-color,
.wp-block-button__link:hover.has-awkng-dark-color,
.wp-block-button__link:visited.has-awkng-dark-color {
  color: #231f20;
}

/*--------------------------------------------------------------
# Font Sizes
--------------------------------------------------------------*/

p {
  margin: 0;
  line-height: 1.5em;
}

.small-caps {
  font-variant: small-caps;
  text-transform: initial;
}

.has-huge-font-size, h1 {
  font-size: 85px;
}

.has-huge-small-caps-font-size, h2 {
  font-size: 70px;
}

.has-large-font-size, h3 {
  font-size: 40px;
}

.has-medium-font-size, h4 {
  font-size: 36px;
}

.has-fixed-font-size {
  font-size: 24px;
}

.has-small-font-size, h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

@media (max-width: 1280px) { 
  .has-huge-font-size, h1 {
    font-size: 6.64vw;
  }

  .has-huge-small-caps-font-size, h2 {
    font-size: 5.47vw;
  }
  
  .has-large-font-size, h3 {
    font-size: 3.13vw;
  }

  .has-medium-font-size, h4 {
    font-size: 2.81vw;
  }
}

@media (max-width: 768px) { 
  .has-huge-font-size, h1 {
    font-size: 32px;
  }

  .has-huge-small-caps-font-size, h2 {
    font-size: 30px;
  }
  
  .has-large-font-size, h3 {
    font-size: 28px;
  }

  .has-medium-font-size, h4 {
    font-size: 22px;
  }
}

.awkng-trailing-line:after {
  content: "____________________________________________________________________________";
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: text-bottom;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  width: 2000px;
  margin-right: -2000px;
  height: 1em;
  margin-top: -1em;
  bottom: .258em;
  left: -.371em;
  font-size: 1.7em;
}

.awkng-leading-line:before {
  content: "____________________________________________________________________________";
  position: relative;
  display: inline-block;
  text-align: right;
  vertical-align: text-bottom;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  width: 2000px;
  margin-left: -2000px;
  height: 1em;
  margin-top: -1em;
  bottom: .258em;
  right: -.371em;
  font-size: 1.7em;
}

.awkng-flip-letter {
  display: inline-block;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.awkng-roman-lists {
  list-style: upper-roman;
}

.awkng-church-logo {
  line-height: .85em;
}

/*--------------------------------------------------------------
## Additional Elements
--------------------------------------------------------------*/

/*    SECTIONS    */

.wp-block-awkng-blocks-section {
  align-items: stretch;
}

.wp-block-awkng-blocks-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.awkng-background-skew::before {
  transform: skewY(-11.7deg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: 1;
  z-index: 1
}

.awkng-background-skew::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: 1;
  z-index: 0
}

/* used to overflow the background up into the skewed area*/
/*.wp-block-awkng-blocks-section.awkng-background-skew-image {
  padding: 200px 0;
  margin: -200px 0;
}

.wp-block-awkng-blocks-section.awkng-background-skew-image::before {
  transform: skewY(-11.7deg);
  content: "";
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 200px;
  right: 0;
  background-color: inherit;
  z-index: 1
}*/

.awkng-background-clear {
  background: none !important;
}

.awkng-foreground-1 {
  z-index: 1;
}

.awkng-foreground-2 {
  z-index: 2;
}

.awkng-height-viewport-height {
  min-height: 75vh;
}

.awkng-section-bottom-bar {
  min-height: 90px;
  margin-top: -90px;
  background-color: #0008;
  position: relative;
}

.awkng-box-shadow-black {
  box-shadow: 0px 3px 6px #000A;
}

@media screen and (min-width: 769px) {
  .awkng-flex-row .wp-block-group__inner-container {
    flex-direction: row;
    align-items: center;
  }
  .awkng-flex-row .wp-block-group__inner-container > *{
    padding-right: 1em;
  }
}

/*    COLUMNS    */

.awkng-align-start {
  justify-content: flex-start;
}

.awkng-columns-justify-start .wp-block-column {
  justify-content: flex-start;
}


.awkng-skinny-column.awkng-skinny-column .wp-block-awkng-blocks-column,
.awkng-skinny-column.awkng-skinny-column .wp-block-cover__inner-container,
.awkng-skinny-column.awkng-skinny-column .wp-block-group__inner-container {
  max-width: 900px;
}

/*    ICON TEXT    */

.awkng-icon-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wp-block-media-text.awkng-icon-text>figure {
  padding: .25em;
}

.wp-block-media-text.awkng-icon-text>figure>img {
  height: 2.5em;
  width: auto;
}

.wp-block-media-text.awkng-icon-text>p {
  line-height: 1em;
}

/*    IMAGES, VIDEOS, EMBEDS   */

.wp-post-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.img-rounded img {
  border-radius: 50%;
}

.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > * {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#podcastImage {
  background-size: cover;
  background-position: 50% 50%;
}
#podcastImage::before {
  background-color: #0008;
}
#podcastImage img {
  height: 100%;
  margin: auto;
}
#podcastImage figure {
  margin: 0;
}

.awkng-large-video-container.awkng-large-video-container {
  max-width: 80%
}

.youtube-live-player {
  position: fixed;
  bottom: 38px;
  right: 38px;
  width: 346px;
  height: auto;
  z-index: 9000;
  height: auto;
  color: white;
  box-shadow: 0px 3px 6px #000A;
}
.youtube-live-player .live-title {
  top: -1.75em;
  height: auto;
  width: auto;
  left: unset;
  right: unset;
  bottom: unset;
  padding: .25em;
  border-radius: .2em;
  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .youtube-live-player {
    width: 45vw;
    bottom: 5vw;
    right: 5vw;
  }
}

/* STREAMING MODIFIERS */

.when-streaming.when-streaming {
  display: none;
}

.when-not-streaming.when-not-streaming {
  display: block;
}

.streaming .when-streaming.when-streaming {
  display: block;
}

.streaming .when-not-streaming.when-not-streaming {
  display: none;
}

.page-template-micro_site .youtube-live-player,
.page-template-no_player .youtube-live-player {
  display: none !important;
}

/*    BUTTONS    */

.awkng-tight-btn {
  margin: 1.5em 0 .5em;
}

.awkng-big-button.awkng-big-button .wp-block-button__link {
  font-size: 22px;
  letter-spacing: .1em;
}

.wp-block-button img,
p img,
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: -.5em 0 -.2em 0;
}

.awkng-small-border-radius {
  border-radius: 1em;
}

/*    TEXT    */

.awkng-text-shadow-black {
  text-shadow: 2px 2px 5px black;
}

.awkng-paragraph-text p{
  line-height: 1.5em;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .awkng-centered-on-mobile {
    text-align: center !important;
  }
}

/*    SEPARATORS    */

.wp-block-separator {
  margin: .5em 0;
}
.wp-block-separator.is-style-wide {
  width: 100%;
}

.wp-block-columns.awkng-column-separator > .wp-block-column ~ .wp-block-column {
  border-top: .2em solid black;
}

@media screen and (min-width: 769px) {
  .wp-block-columns.awkng-column-separator > .wp-block-column ~ .wp-block-column {
    border-top: none;
    border-left: .2em solid black;
  }
}

/*    EXTRAS    */

.no-min {
  min-height: 0;
  min-width: 0;
}

/* WP-ROCKET UPDATES */
.rll-youtube-player .play.play {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: url('/wp-content/themes/wordpress-theme/assets/images/youtube-1.svg') no-repeat;
  background-position: center center;
}