.wp-block {
	max-width: 1280px;
}

.edit-post-visual-editor p,
.edit-post-visual-editor,
.blocks-rich-text__tinymce.mce-content-body {
	line-height: 1.5em;
}

.editor-styles-wrapper p,
.editor-styles-wrapper .mce-content-body {
	line-height: 1.5em !important;
}

.edit-post-visual-editor .editor-block-list__block-edit,
.edit-post-visual-editor {
	font-family: "AWKNG-Font", "Arial Black", Gadget, sans-serif;
	line-height: 1.5em;
}

.awkng-background-clear {
	background: #888 !important;
}

.awkng-section-bottom-bar {
	height: 120px;
	margin-top: 0px;
}

.is-reusable {
	overflow: hidden;
}

.wp-block-media-text .editor-media-container__resizer {
	/*width: initial !important;*/
}