/** =================== AWKNG-Font =================== **/

/** AWKNG-Font Regular **/
@font-face {
    font-family: "AWKNG-Font";
    font-weight: 400;
    font-style: normal;
    src: url("AWKNG-Font-Medium.eot");
    src: url("AWKNG-Font-Medium.eot?#iefix") format('embedded-opentype'),
         url("AWKNG-Font-Medium.woff2") format("woff2"),
         url("AWKNG-Font-Medium.woff") format("woff");
}

/** AWKNG-Font Regular-Italic **/
@font-face {
    font-family: "AWKNG-Font";
    font-weight: 400;
    font-style: italic;
    src: url("AWKNG-Font-MediumItalic.eot");
    src: url("AWKNG-Font-MediumItalic.eot?#iefix") format('embedded-opentype'),
         url("AWKNG-Font-MediumItalic.woff2") format("woff2"),
         url("AWKNG-Font-MediumItalic.woff") format("woff");
}

/** AWKNG-Font Bold **/
@font-face {
    font-family: "AWKNG-Font";
    font-weight: 700;
    font-style: normal;
    src: url("AWKNG-Font-Bold.eot");
    src: url("AWKNG-Font-Bold.eot?#iefix") format('embedded-opentype'),
         url("AWKNG-Font-Bold.woff2") format("woff2"),
         url("AWKNG-Font-Bold.woff") format("woff");
}

/** AWKNG-Font Bold-Italic **/
@font-face {
    font-family: "AWKNG-Font";
    font-weight: 700;
    font-style: italic;
    src: url("AWKNG-Font-BoldItalic.eot");
    src: url("AWKNG-Font-BoldItalic.eot?#iefix") format('embedded-opentype'),
         url("AWKNG-Font-BoldItalic.woff2") format("woff2"),
         url("AWKNG-Font-BoldItalic.woff") format("woff");
}